[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru]=Включить хранитель экрана и/или блокировать экран
Name[ru]=Запустить хранитель экрана