[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Launch screensaver
Comment=Activate a screensaver and/or lock the screen

#TRANSLATIONS_DIR=../translations

# Translations
Name[pt]=Proteção de ecrã
Comment[pt]=Ativar uma proteção de ecrã e/ou bloquear o ecrã
