[Desktop Entry]
Type=Application
TryExec=lxqt-panel

# NOTE: KWin wants absolute path here, make sure it's correct
Exec=/usr/local/bin/lxqt-panel

# NOTE: adding KDE to make it work under Plasma Wayland session
OnlyShowIn=LXQt;KDE
X-LXQt-Module=true

# Make KWin recognize us as priviledged client
X-KDE-Wayland-Interfaces=org_kde_plasma_window_management
