[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name[ru_RU]=Системная статистика
Comment[ru_RU]=Плагин системной статистики.

#TRANSLATIONS_DIR=../translations
