[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name[ru_RU]=Мировое время
Comment[ru_RU]=Плагин мирового времени.

#TRANSLATIONS_DIR=../translations
