[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name[ru]=Мировое время
Comment[ru]=Плагин мирового времени.

#TRANSLATIONS_DIR=../translations
