[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[zh_TW]=LxQt滑鼠設定
Name[zh_TW]=X11滑鼠設定
