[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.

# Translations
Name[sl]=Nadzornik omrežja
Comment[sl]=Nadzornik omrežja
