[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.

# Translations
Name[de]=Netzwerk Monitor
Comment[de]=Informationen zu Status und Aktivität des Netzwerks
