[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.

# Translations
Name[pl]=Monitorowanie sieci
Comment[pl]=Pokazuje stan i aktywność sieci.
