[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Name[cs_CZ]=Monitor sítě
Comment[cs]=Zobrazuje stav a aktivity sítě
