[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[ru]=Сеть монитор
Name[ru]=Сеть монитор
