[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[it]=Centro di Configurazione LxQt
Name[it]=Configura moduli di LxQt-qt
