[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.




# Translations
Comment[eo]=Agordoj de muso por LxQto
Name[eo]=Agordi X11-muson
