[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.

# Translations
Name[tr]=Ağ izleme
Comment[tr]=Ağ iletişimi izleme ve yönetme
