[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=Network monitor
Comment=Displays network status and activity.

# Translations
Name[pl]=monitor sieci
Comment[pl]=pokazuje stan i aktywność sieci.
