[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[ru]=Сенсоры
Comment[ru]=Посмотреть данные с аппаратных сенсоров.