[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Sensors
Comment=View readings from hardware sensors.


# Translations
Name[ru_RU]=Сенсоры
Comment[ru_RU]=Посмотреть данные с аппаратных сенсоров.