[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de]=Systemlautstärke einstellen und den bevorzugten Mischer starten.
Name[de]=Lautstärkeregelung
