[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Volume control
Comment=Control the system's volume and launch your preferred mixer.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Контролировать громкость звука в системе и запустить предпочтитаемый микшер.
Name[ru_RU]=Регулятор громкости