[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de]=Alle Fenster minimieren und die Arbeitsfläche anzeigen
Name[de]=Arbeitsfläche anzeigen
