[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Show desktop
Comment=Minimize all windows and show the desktop

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ja]=全ウィンドウ最小化やデスクトップ表示を可能にします
Name[ja]=デスクトップ表示
