[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.
Icon=preferences-system-time

#TRANSLATIONS_DIR=../translations

# Translations
Name[da]=Dato og klokkeslæt
Comment[da]=Viser den aktuelle tid. Der følger en kalender med.
