[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Date & time
Comment=Displays the current time. Comes with a calendar.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[de]=Zeigt die aktuelle Uhrzeit. Ein Kalender ist auch enthalten.
Name[de]=Uhr und Kalender
