[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[pl_PL]=Pobierz kolor spod kursora. Dla webdeveloperów. 
Name[pl_PL]=Wybieracz kolorów
