[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Color picker
Comment=Get the color under the cursor. For web developers.


# Translations
Comment[it_IT]=Rileva il colore sotto il cursore. Per sviluppatori web.
Name[it_IT]=Selettore del colore
