[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=System tray
Comment=Access hidden applications minimized in the system tray

#TRANSLATIONS_DIR=../translations


# Translations
