[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Application menu
Comment=Menu based application launcher

#TRANSLATIONS_DIR=../translations


# Translations
