[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Application menu
Comment=A menu of all your applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ar]=بادئ التطبيقات المعتمد على قائمة
Name[ar]=قائمة التطبيقات
