[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Task Manager
Comment=Switch between running applications

#TRANSLATIONS_DIR=../translations


# Translations
