[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Desktopswitch
Comment=Allow to switch virtual desktops

#TRANSLATIONS_DIR=../translations


# Translations
