[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin

Name=CPU monitor
Comment=Displays the current CPU load.




# Translations
Comment[ja]=現在のCPUの負荷を表示します
Name[ja]=CPUモニター
