[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Quick launch
Comment=Easy access to your favourite applications.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Простой доступ к вашим любимым приложениям.
Name[ru_RU]=Быстрый запуск