[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Quicklaunch
Comment=Launch your favorite Applications

#TRANSLATIONS_DIR=../translations


# Translations
