[Desktop Entry]
Type=Service
ServiceTypes=LXQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[pl_PL]=Nośniki wymienne (USB, CD, DVD, ...)
Name[pl_PL]=Nośniki wymienne
