[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Removable media
Comment=Easy mounting and unmounting of USB and optical drives.

#TRANSLATIONS_DIR=../translations


# Translations
Comment[ru_RU]=Простое подключение и отключение USB и оптических приводов.
Name[ru_RU]=Съёмные устройства
